$border-color: #ddd;
$background-color: #f7f7f7;
$highlight-color: #eaeaea;
$primary-color: #007cba;
$content-bg-color: #fafafa;

.custom-accordion {
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 10px;
  width: 100%;

  .accordion-item {
    margin-bottom: 10px;
  }

  .accordion-toggle {
    display: none; // Hide the input toggle
  }

  .accordion-title {
    display: block;
    position: relative;
    background-color: $background-color;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid lighten($border-color, 10%);
    border-radius: 5px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: $highlight-color;
    }

    &::after {
      content: "▼";
      font-size: 16px;
      transition: transform 0.3s ease-in-out;
      position: absolute;
      right: 8px;
    }
  }

  .accordion-content {
    display: none;
    padding: 10px;
    border-left: 2px solid $primary-color;
    margin-top: 5px;
    background: $content-bg-color;
    box-sizing: border-box;
  }

  .accordion-toggle:checked ~ .accordion-content {
    display: block;
  }

  .accordion-toggle:checked + .accordion-title::after {
    content: "▲";
  }
}
